<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="6" name="Test">
    <classes>
      <class name="AutomationProject.AutomationProject.HomePages"/>
      <class name="AutomationProject.AutomationProject.SignUp"/>
      <class name="AutomationProject.AutomationProject.SignIn"/>
      <class name="AutomationProject.AutomationProject.Order"/>
       <class name="AutomationProject.AutomationProject.AllMobiles"/>
      <class name="AutomationProject.AutomationProject.ContactUs"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 